#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.inputs {
  display: flex;
  flex-direction: column;
  margin: 100px;
  border: 3px solid chocolate  ;
width: 20vw;
  color: darkorange;
  font-size: 20px;
}
.inputs {

}

.buttonSetter {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.buttonsDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
}